.show {
  display: block !important;
}

.filterable {
  display: none;
  margin: auto;
  width: fit-content;
  img {
    max-height:  18rem;
  }
}

.noshow{
  display: none;
}

.guide-box{
  text-align: left;
  padding: 1vw;
  border-radius: 7px;
  max-width: 80%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}